{{ partial "header.html" . }}

<div class="content page">

  <p>Here are direct links to documentation from sessions at previous conferences and meetups:</p>

  {{ range $.Site.Data.talks.talks }}
    <h3>{{ .title }}</h3>
    <p>
      Presented at: <a href="{{ .website }}">{{ .conf }}</a><br>
      {{ if .notes }}{{ .notes | markdownify }}<br>{{ end }}
      See also:
      <!-- TODO: look at using the template 'delimit' func to do the comma join; currently this only looks nice because every post at least includes a slides link -->
      {{ if .slides_link }}<a href="{{ .slides_link }}">Slides</a>{{ end }}{{ if .related_slug }}, <a href="/{{ .related_slug }}/">Links and resources</a>{{ end }}{{ if .video_link }}, <a href="{{ .video_link }}">Video</a>{{ end }}<br>
    </p>
  {{ end }}

</div>

{{ partial "footer.html" . }}
