{{ partial "header.html" . }}

<div class="content page">

  <p>Here are direct links to documentations from sessions at previous conferences and meetups:</p>

  {{ range $.Site.Data.talks.talks }}
    <h4>{{ .title }}</h4>
    <p>
      Presented at: <a href="{{ .website }}">{{ .conf }} {{ .year }}</a><br>
      See also: <a href="/{{ .related_slug }}">Related post</a>, <a href="{{ .video_link }}">Video</a>, <a href="{{ .slides_link }}">Slides</a><br>
    </p>
  {{ end }}

</div>

{{ partial "footer.html" . }}
