@font-face {
  font-family: Inconsolata;
  src: url("/fonts/inconsolata.woff2") format("woff2"), url("/fonts/inconsolata.woff") format("woff"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  font-family: -apple-system, -apple-system-font, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; }
  @media (min-width: 38em) {
    html {
      font-size: 18px; } }

body {
  color: #212121;
  background-color: #fefefe;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #08558b;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 1.2rem; }

h4, h5, h6 {
  font-size: 1rem; }

p {
  margin: 0 0 1rem; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem; }

ul {
  list-style: inside circle;
  padding-left: 0; }
  ul li {
    margin-bottom: .25rem; }
  ul ul,
  ul ol {
    margin-top: .25rem;
    margin-bottom: .5rem; }

ol {
  list-style: inside decimal;
  padding-left: 0; }
  ol li {
    margin-bottom: .25rem; }
  ol ul,
  ol ol {
    margin-top: .25rem;
    margin-bottom: .5rem; }

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem; }

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto; }

strong {
  color: #333;
  font-weight: 600; }

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5; }

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #666;
  border-left: .5rem solid #e5e5e5; }
  blockquote p:last-child {
    margin-bottom: 0; }

code,
pre {
  font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace; }

code {
  padding: .2em .2em;
  font-size: 100%;
  /*color: #bf616a;*/
  color: #333;
  background-color: #f3f3f3;
  border-radius: 3px; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  /*white-space: pre-wrap;   pre-wrap would be set if you want to force wrapping*/
  word-break: break-all;
  background-color: #f9f9f9;
  overflow-x: auto; }

pre code {
  padding: 0;
  font-size: 120%;
  color: inherit;
  background-color: transparent; }

figure {
  margin-left: 20px;
  margin-right: 20px; }

aside header {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px; }

.highlight pre {
  margin-bottom: 0; }

.gist .gist-file {
  font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace !important; }

.gist .markdown-body {
  padding: 15px; }

.gist pre {
  padding: 0;
  background-color: transparent; }

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4; }

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 3px; }

.image-wrapper {
  display: table;
  font-size: 0.9rem;
  /* Padding of 0px might be too tight - it used to be 20px
     It was added to give images more room and not seem too
     unnecessarily scaled-down */
  padding: 0px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center; }
  .image-wrapper .image-caption {
    caption-side: bottom;
    display: table-caption;
    margin-top: 0.5em;
    /*// trying to make the captions auto-wrap in case of a float:left or right
    // didn't work
    //    white-space: pre-line;
    //    word-wrap: break-word;
    //    display:inline;
    */ }

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.lead {
  font-size: 1.25rem; }

.container {
  max-width: 46rem;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 38rem) {
    .container {
      padding: 5rem 1rem; } }

.masthead-title {
  font-weight: 300; }
  .masthead-title a {
    color: #333; }
    .masthead-title a:hover, .masthead-title a:focus {
      text-decoration: none; }
  .masthead-title span {
    color: #ddd; }
.masthead-title--small {
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase; }
  .masthead-title--small a {
    color: #333; }
    .masthead-title--small a:hover, .masthead-title--small a:focus {
      text-decoration: none; }
.masthead .masthead-nav {
  margin-bottom: 5rem;
  border-bottom: 1px #dddddd solid;
  padding-bottom: 5px; }
  .masthead .masthead-nav a {
    color: rgb(59, 59, 59);
    font-weight: 300;
    text-transform: lowercase;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease; }
    .masthead .masthead-nav a:hover, .masthead .masthead-nav a:focus {
      color: #333;
      text-decoration: none; }
    .masthead .masthead-nav a + a {
      margin-left: .25rem; }

.content {
  /* Failed experiment with indentation to separate content from header */
  /*margin-left: 15px;*/ }

.page-title {
  margin-bottom: 2rem; }

.post-title {
  margin-bottom: .25rem; }
.post-date {
  margin-bottom: 2rem;
  font-size: .75rem;
  text-transform: uppercase; }

.list-post-title {
  margin-bottom: .25rem; }
  .list-post-title a {
    color: #444; }
    .list-post-title a:hover, .list-post-title a:focus {
      text-decoration: none; }
.list-post-date {
  margin-bottom: 1.3rem;
  font-size: .75rem;
  text-transform: uppercase; }

.projects-list a {
  color: #333; }

/* Chroma Syntax Highlighting: 'borland' pygments style */
/* Background */ .chroma { background-color: #f3f3f3 }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { ; vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { ; border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #000080; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #000080; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #000080; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #000080; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #000080; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #000080; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #000080; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #ff0000 }
/* NameTag */ .chroma .nt { color: #000080; font-weight: bold }
/* LiteralString */ .chroma .s { color: #0000ff }
/* LiteralStringAffix */ .chroma .sa { color: #0000ff }
/* LiteralStringBacktick */ .chroma .sb { color: #0000ff }
/* LiteralStringChar */ .chroma .sc { color: #800080 }
/* LiteralStringDelimiter */ .chroma .dl { color: #0000ff }
/* LiteralStringDoc */ .chroma .sd { color: #0000ff }
/* LiteralStringDouble */ .chroma .s2 { color: #0000ff }
/* LiteralStringEscape */ .chroma .se { color: #0000ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #0000ff }
/* LiteralStringInterpol */ .chroma .si { color: #0000ff }
/* LiteralStringOther */ .chroma .sx { color: #0000ff }
/* LiteralStringRegex */ .chroma .sr { color: #0000ff }
/* LiteralStringSingle */ .chroma .s1 { color: #0000ff }
/* LiteralStringSymbol */ .chroma .ss { color: #0000ff }
/* LiteralNumber */ .chroma .m { color: #0000ff }
/* LiteralNumberBin */ .chroma .mb { color: #0000ff }
/* LiteralNumberFloat */ .chroma .mf { color: #0000ff }
/* LiteralNumberHex */ .chroma .mh { color: #0000ff }
/* LiteralNumberInteger */ .chroma .mi { color: #0000ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #0000ff }
/* LiteralNumberOct */ .chroma .mo { color: #0000ff }
/* OperatorWord */ .chroma .ow { font-weight: bold }
/* Comment */ .chroma .c { color: #008800; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #008800; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #008800; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #008800; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #008800; font-weight: bold }
/* CommentPreproc */ .chroma .cp { color: #008080 }
/* CommentPreprocFile */ .chroma .cpf { color: #008080 }
/* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }


/*# sourceMappingURL=style.css.map */
