<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} RSS Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include style.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>

<body>
  <div class="container">
    {{ content }}
  </div>

  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.macops.ca/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://stats.macops.ca/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

</body>
</html>
